/* Address - Bar  */
.contact-bar{
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-between !important;
    padding: 1%;
    font-size: 15px;
    height: 3vh;
    font-family: var(--Lexend);
}
.contact-bar a, .contact-bar li{
    color: white;
}
.contact-bar i{
    margin-right: 5px ;
    color: orangered;
    font-size: 1.5rem;
}
.contact-bar li:hover{
   color: rgb(241, 46, 154);
}
.login a:hover{
    color: rgb(241, 46, 154);
}
 .nav-search{
  padding: 1rem;
}
/* Search bar  - Address-Bar */

.nav-search{
    position: relative;
    top: -1.5rem;
    right: 1%;
    width: 18rem;
    border-radius: .5rem;
  }
  
  .search, .search-btn{
    height: 2.5rem;
    font-family: 'Poppins';
    border: 0;
    color: rebeccapurple;
    font-size: 1rem;
  }
  
  .search[type=search] {
    outline-style: none;
    width: 20rem;
    background: rgb(194, 232, 250);
    padding: 0 1.6rem;
    border-radius: .7rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    transition: all .3s cubic-bezier(0, 0, 0.43, 1.49);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  
  .search-btn {
    display: none;
    position: absolute;
    top: 1rem;
    right: 2.7rem;
    width: 4.5rem;
    font-weight: bold;
    background: orangered;
    /* border-radius: 0 2rem 2rem 0; */
  }
  
  .search:not(:-moz-placeholder-shown) {
    border-radius: .3rem 0 0 .3rem;
    width: calc(50% - 3rem);
  }
  
  .search:not(:-ms-input-placeholder) {
    border-radius: .3rem 0 0 .3rem;
    width: calc(100% - 6rem);
  }
  
  .search:not(:placeholder-shown) {
    border-radius: .3rem 0 0 .3rem;
    width: calc(100% - 6rem);
  }
  .search:not(:-moz-placeholder-shown) + button {
    display: block;
  }
  .search:not(:-ms-input-placeholder) + button {
    display: block;
  }
  .search:not(:placeholder-shown) + button {
    display: block;
  }
  /* End of Address Bar  */

  /* site - title - carousel setion */
  .carousel {
    min-height: 83vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1.5fr;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    row-gap: 2vh;
    position: relative;
  }
  
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
  }
  .progress-bar__fill {
    width: 0;
    height: inherit;
    background:rgb(255, 68, 0);
    transition: all 0.4s;
  }
  .progress-bar--primary {
    z-index: 2;
  }
  
  .main-post-wrapper {
    grid-row: 1/4;
    grid-column: 1/7;
    position: relative;
  }
  
  .slides {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .main-post {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .main-post__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
  }
  .main-post__image img {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main-post__image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(14, 13, 14, 0.5);
  }
  .main-post__content {
    position: absolute;
    top: 40%;
    left: 4%;
    transform: translateY(-40%);
    color: #fff;
    width: 90%;
  }
  .main-post__tag-wrapper {
    margin: 0;
    display: inline-flex;
    overflow: hidden;
  }
  .main-post__tag {
    font-size: 0.95em;
    background:rgb(255, 68, 0);
    padding: 6px 18px;
  }
  .main-post__title {
    font-weight: 700;
    font-size: 1.95em;
    line-height: 1.25;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }
  .main-post__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    display: inline-flex;
    align-items: center;
  }
  .main-post__link-text {
    font-size: 0.9em;
  }
  .main-post__link-icon--arrow {
    margin-left: 12px;
  }
  .main-post__link-icon--play-btn {
    margin-right: 12px;
  }
  
  .main-post__link:hover .main-post__link-text,
  .main-post__link:hover .main-post__link-icon--arrow path {
    color: #c20000;
    stroke: #c20000;
  }
  
  .main-post--active {
    top: 0;
    z-index: 1;
    transition: top 0.9s 0.4s ease-out;
  }
  
  .main-post--not-active {
    top: 100%;
    z-index: 0;
    transition: top 0.75s 2s;
  }
  
  .main-post.main-post--active .main-post__tag-wrapper {
    width: 25%;
    transition: all 0.98s 1.9s;
  }
  
  .main-post.main-post--not-active .main-post__tag-wrapper {
    width: 0;
    transition: width 0.3s 0.2s;
  }
  
  .main-post.main-post--active .main-post__title {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s 1.42s, transform 0.5s 1.4s;
  }
  
  .main-post.main-post--not-active .main-post__title {
    transform: translateY(40px);
    opacity: 0;
    transition: transform 0.2s 0.35s, opacity 0.5s 0.2s;
  }
  
  .main-post.main-post--active .main-post__link {
    opacity: 1;
    transition: opacity 0.9s 2.2s;
  }
  
  .main-post.main-post--not-active .main-post__link {
    opacity: 0;
    transition: opacity 0.5s 0.2s;
  }
  
  .posts-wrapper {
    grid-row: 3/4;
    grid-column: 3/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 14px;
         column-gap: 14px;
    z-index: 1;
  }
  
  .post {
    background: rgba(14, 13, 14, 0.6);
    opacity: 0.3;
    color: #fff;
    position: relative;
    padding: 16px 20px;
  }
  .post__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
  }
  .post__tag {
    color: #80837e;
  }
  .post__title {
    font-weight: 400;
    font-size: 0.95em;
    line-height: 1.5;
  }
  .post--active {
    opacity: 1;
    background: rgba(14, 13, 14, 0.75);
  }
  .post:not(.post--active) {
    pointer-events: none;
  }
  
  .hide-on-mobile {
    display: none;
  }
  
  @media screen and (min-width: 768px) {
    .main-post__title {
      font-size: 2.9em;
    }
  }
  @media screen and (min-width: 1024px) {
    .hide-on-mobile {
      display: grid;
    }
  
    .posts-wrapper {
      grid-column: 2/6;
    }
  
    .hide-on-desktop {
      display: none;
    }
  }
  @media screen and (min-width: 1440px) {
    .main-post__content {
      width: 45%;
    }
  
    .posts-wrapper {
      grid-column: 3/6;
    }
  }
  /* End of site title carousel section */

  /* Car Reservation  */
  .reservation {
    width: 100%;
    height: 55vh;
    margin-top: 35px;
    color: black;
    font-family: var(--Lexend);
  }
  .car-reservation .text-center{
      text-align: center;
  }
  .reservation h3 {
    position: relative;
    font-weight: 700;
    font-family: unset;
    z-index: 3;
  }
  
  .reservation .watermark {
    position: relative;
    opacity: .08 !important;
    font-size: 6rem !important;
    font-weight: 700 !important;
    top: -125px;
  }
  
  .reservation p{
    position: relative;
    
  }
  
  .reservation img {
    width: 65%;
    position: relative;
    top: -570px;
  }
  
  .rsrvd-container {
    position: relative;
    border-top: orangered 6px solid;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 8px bisque;
    width: 1200px;
    height: 110px;
    padding: 1rem;
    overflow: hidden;
    top: 88px;
    left: 190px;
    background-color: white;
  }
  
  .rsrvd-container .icon img {
    width: 50px;
    opacity: .08;
    color: rgb(117, 63, 44);
  }

  .rsrvd-container .d-flex{
      display: flex;
  }
  .rsrvd-container .d-flex-inpt{
      display: flex;
      justify-content: space-evenly !important;
  }
  
  #rb-margin {
    margin-top: 14px;
    font-weight: 500;
  }
  .booking span{
      font-size: 12px;
      font-weight: 700;
  }
  
  #button-color {
    color: white;
    font-weight: 600;
    background-color: orangered;
    width: 12rem;
  }
  .form-control{
    border: none;
    border-radius: 5px;
    padding: 3px;
    margin-right: 5px;
  }
  .form-control::placeholder{
      text-align: center;
      
  }
  .inner-bg {
    background-color: #f2f2f2;
  }
  /* Contact-Us Page */
    .hero {
        background-image: url('../assets/bg.png');
        background-position: center;
        background-size: 100%;
        height: 55vh;
      }
      .hero .hero-text{
        color: white;
        font-size: 5rem;
        text-align: center;
        padding-top: 5rem;
        font-family: var(--Lexend);
      }

      .contact-section {
        position: relative;
        top: 10%;
      }
      
        input, textarea {
    padding: 10px 20px;
    border: 1px solid #e5e5e5;
    width: 100%;
        }
        .input-field:focus{
          outline: 2px solid rgb(245, 91, 35) ;
        }

    .input {
        display: flex;
    }

    #input {
        margin-right: 27%;
        width: 30%;
}
    #input1 {
        width: 30%;

    }

    textarea {
    min-height: 150px;
    resize: none;
}

    .flex {
        display: flex;
        justify-content: space-between;
    }

    .page-title{

        color: whitesmoke;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: capitalize;
    }

    .page-list {
        display: flex;
    }
    
.contact-item {
    padding: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .contact-item {
        padding: 30px;
        margin-bottom: 20px;
    }
}

.contact-item .icon {
    width: 70px;
    height: 70px;
    color: orangered;
    background-color: transparent;
    display: inline-block;
    border: 3px dashed orangered;
    text-align: center;
    line-height: 70px;
    font-size: 32px;
    border-radius: 50%;
}

.contact-item .title {
    text-transform: capitalize;
    margin-top: 25px;
}

.contact-item p {
    margin-top: 15px;
}

.contact-form-area {
    margin-top: 70px;
}

.contact-form-area .title {
    text-transform: capitalize;
}

.contact-form-area .contact-form {
    margin-top: 30px;
}

.contact-form-area .contact-form .frm-group {
    margin-bottom: 30px;
}

.contact-form-area .contact-form .frm-group input[type="submit"] {
    width: auto;
    background-color: orangered;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    padding: 12px 35px;
    border: none;
    cursor: pointer;
}
/* --------End of contact-us Page -------------- */

/* Car-Brands - Index Page*/
.brand-logos{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.brand-logos img{
  width: 51rem;
}
.car-brands-index .brand-logos .logo-size{
  width: 20rem;

}
 .brand-head{
  text-align: center;
  font-size: 2rem;
  font-family: var(--Lexend);
  border: 3px dashed orangered;
  margin: 1rem;
  padding: 1.5rem;
}

/* what we do  */
blockquote{
  margin: 5rem 3rem 2rem 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--Abel);
  color: rgb(65, 62, 62);
}
blockquote i{
  font-size: 4rem;
  color: orangered;
}
.what-we-do h3{
  border-left: 8px solid orangered;
  padding-left: 2rem;
  font-size: 2rem;
}
.intro .message{
  font-size: 1.5rem;
  font-family: var(--Abel) !important;
  font-weight: 400;
  margin: 3rem 3rem 2rem 3rem;

}
.message i{
  font-size: 3rem;
  color: orangered;
}
.why-us{
  margin-top: 4rem;
}
.why-us .text-intro{
  font-size: 1.8rem;
  font-family: var(--Lexend);
  font-weight: 500;
}
.values h3{
  margin-bottom: 2rem;
  
}
.values li{
  margin-bottom: 1rem;
  list-style: circle;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--Lexend) !important;
}
/* --------what we do--------  */
/* Testimonial */
.testimonial{
  padding-top: 1rem;
}
.testimonial-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.testimonial .brand-head-tsm{
   text-align: center;
  font-size: 2rem;
  font-family: var(--Lexend);
  border: 3px dashed orangered;
  margin: 1rem;
  padding: 1.5rem;
}
.testimonial img{
  position:  relative;
  top: -7rem;
  left: 0.1rem;
   width: 13rem;
  height: 12rem;
  border-radius: 50%;
  border: 5px solid rgb(255, 255, 255);
   -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.testimonial .cards .mg-btm i{
  color: orangered;
}
.testimonial .testimonial-flex .cards{
  text-align: center;
  border-radius: 2rem;
  padding: 1rem;
  width: 15rem !important;
  margin-top: 7rem;
  height: 22rem;
   -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.testimonial .cards .mg-btm{
  margin-top: -7rem;
}
/* Car - Brands - Page */
.car-brands-page{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.car-brands-page .car-cards{
  margin: 3rem 0rem 3rem 3rem ;
  width: 40%;
  padding: 2rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.cr-brnd-wdt{
width: 70rem;
margin: 2rem 2rem 0rem 15rem;
}
.wdt{
  width: 70rem;
margin: 2rem 2rem 0rem 15rem;
}
.car-h1{
  width: 12rem;
  color: black;
  margin: 3rem;
  border: 5px dashed orangered;
  padding: 2rem;
}
.car-cards h2{
  padding: 2rem;
}
